.hero-section {
  background: var(--secondry-color);
  overflow: hidden;
}
.hero-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-col-1,
.hero-col-2 {
  max-width: 40%;
}
@media (max-width: 1024px) {
  .hero-col-1,
  .hero-col-2 {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .hero-row {
    flex-direction: column-reverse;
  }

  .hero-col-1,
  .hero-col-2 {
    max-width: 100%;
  }
  .h-upper-line {
    margin-top: 1rem;
  }
}
.hero-paragraph {
  font-weight: 300;
  color: var(--black-color);
  font-size: 1.8rem;
}
